.App {
	display: flex;
	height: 100vh;
}

.sidebar {
	background-color: #ddd;
	width: 30%;
	min-width: 250px;
	height: 100%;
	border-right: 1px solid #000;
}

.bookmark-form {
  	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 30px auto;
	padding-bottom: 30px;
	border-bottom: 1px solid #000;
}

.form-row {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.form-row label {
	width: 50px;
}

.form-row input {
	width: 100%;
	height: 20px;
}

.bookmark-form button {
	height: 30px;
	background-color: rgb(97, 178, 97);
	border-radius: 7px;
	border: 1px solid #000;
	font-size: 1.1rem;
	font-weight: 700;
}

main {
	width: 100%;
}

h1 {
	text-align: center;
}

li {
	list-style-type: none;
	font-size: 2rem;
	width: fit-content;
	margin: auto;
}

a {
	text-decoration: none;
	color: #00f;
}